<div class="user_sttng_panel pt_shadow row vp_forms">
    <h2 class="user_sttng_panel_hd">TOKEN TRANSACTIONS</h2>
	<table id="withdrawal-requests" class="table table-responsive">
		<thead>
			<th>DATE</th>
			<th>REF</th>
			<th>DESCRIPTION</th>
			<th>{{LANG amount}}</th>
			<th>BENEFICIARY</th>
			<th>{{LANG status}}</th>
		</thead>
		<tbody>
			{{TRANSACTION_HISTORY_LIST}}
		</tbody>
	</table>
</div>
<script>
    jQuery(document).ready(function($) {
        $("#withdrawal-requests").DataTable();
    });
</script>