<form class="form-horizontal user_sttng_panel pt_shadow row vp_forms" id="monetization-settings" method="POST">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h2 class="user_sttng_panel_hd">Withdrawal</h2>
		<div class="monetization-settings-alert"></div>
		<div class="sett_my_blnc_">
			<div class="my_blnc_avlbal">
				<p>{{LANG balance}}</p>
				<div><b>EXNX.</b> <h3><span class="tronBalance">{{ME token_balance}}</span> <a href="javascript:void(0);" class="getTronBalance"><i class="fa fa-refresh"></i></a></h3></div>
			</div>
			<span class="my_blnc_widthdrw">
				<a href="{{LINK settings/token_transactions/{{ME username}}}}"> 
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path fill="currentColor" d="M13.5,8H12V13L16.28,15.54L17,14.33L13.5,12.25V8M13,3A9,9 0 0,0 4,12H1L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3" />
					</svg> Transactions
				</a>
			</span>
		</div>
		<div class="vp_dash_links">
			<ul>
				<li class="active">
					<a href="{{LINK settings/token_withdrawal/<?php echo $pt->settings->username; ?>}}" data-load="?link1=settings&page=token_withdrawal&user=<?php echo $pt->settings->username; ?>"">Withdrawal</a>
				</li>
				<li>
					<a href="{{LINK settings/token_deposit/<?php echo $pt->settings->username; ?>}}" data-load="?link1=settings&page=token_deposit&user=<?php echo $pt->settings->username; ?>">Deposit</a>
				</li>
			</ul>
		</div>
		<hr>
		<div class="clear"></div>
		<div class="row">
			<div class="col-md-6">
				<div class="pp_mat_input">
					<input type="text" name="receiver_address" id="email" placeholder="Crypto Address" value="">
					<label for="email">To Crypto Address</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="pp_mat_input">
					<input type="text" name="amount" id="amount" placeholder="{{LANG amount}}" autocomplete="off">
					<label for="amount">{{LANG amount}}</label>
					<!-- <span class="help-block">{{LANG min}}: 60 Exenos</span> -->
				</div>
			</div>
		</div>

        <input type="hidden" name="hash_id" value="<?php echo PT_CreateSession()?>">
        <input type="hidden" name="user_id" value="{{USER id}}">
		<div class="vp_forms_sbm_btn text-center">
			<button type="submit" class="btn btn_primary" id="submit">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path fill="currentColor" d="M0.41,13.41L6,19L7.41,17.58L1.83,12M22.24,5.58L11.66,16.17L7.5,12L6.07,13.41L11.66,19L23.66,7M18,7L16.59,5.58L10.24,11.93L11.66,13.34L18,7Z" />
				</svg> {{LANG submit_withdrawal_request}}
			</button>
		</div>
	</div>
	<div class="col-md-1"></div>
</form>

<script>
	
	$('.getTronBalance').click(function(){
		var getBalance = $(this);
		getBalance.find('i').addClass('fa-spin');
		$.get('{{LINK aj/user/token-balance}}', function(data) {
			if (data.status == 200) {
				$('.tronBalance').html(data.balance);
			}
			getBalance.find('i').removeClass('fa-spin');
		});
		
	});
	
	
</script>
<script>
    jQuery(document).ready(function($) {
        
        var form = $('form#monetization-settings');
        form.ajaxForm({
            url: '{{LINK aj/user/token-withdrawal}}?hash=' + $('.main_session').val(),
            dataType:'json',
            beforeSend: function() {
                form.find('button').text("{{LANG please_wait}}");
            },
            success: function(data) {
                scrollToTop();
                if (data.status == 200) {
                    $('.monetization-settings-alert').html('<div class="alert alert-success bg-success">' + data.message + '</div>');
					$('#amount').val('');
                    $('.alert-success').fadeIn('fast', function() {
                        $(this).delay(2500).slideUp(500, function() {
                            $(this).remove();
                        });
                    });
                } 
                else if (data.status == 400) {
                    $('.monetization-settings-alert').html('<div class="alert alert-danger bg-danger">' + data.message + '</div>');
                    $('.alert-danger').fadeIn(300);
                }
                form.find('button').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M0.41,13.41L6,19L7.41,17.58L1.83,12M22.24,5.58L11.66,16.17L7.5,12L6.07,13.41L11.66,19L23.66,7M18,7L16.59,5.58L10.24,11.93L11.66,13.34L18,7Z" /></svg> {{LANG submit_withdrawal_request}}');
            },
			error: console.log('not going')
        });
    });

</script>