<div class="content pt_shadow">
	<form action="" class="form-horizontal row vp_forms" method="POST" id="edit-form">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h2 class="user_sttng_panel_hd">{{LANG edit_article}} <button type="button" class="btn btn-delete btn_primary btn_primary_rev" title="{{LANG delete}}" onclick="PT_DeleteArticle({{ID}}, 'edit-page')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg></button></h2>
			<div id="video-success" class="alert alert-success"></div>
			<div class="errors alert alert-danger"></div>
			<div class="pp_mat_input">
				<input type="text" name="title" id="title" placeholder="{{LANG title}}" value="{{TITLE}}">
				<label for="title">{{LANG title}}</label>
			</div>
			<div class="pp_mat_input">
				<textarea name="description" id="desc" placeholder="{{LANG description}}" rows="4">{{DESC}}</textarea>
				<label for="desc">{{LANG description}}</label>
			</div>
			<div class="pp_mat_input vid_article_main_textara">
				<textarea name="text" id="text" placeholder="{{LANG the_article}}">{{TEXT}}</textarea>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="vp_media_file vp_media_file_preview">
						<span class="btn btn-file" onclick="$('#thumbnail').trigger('click'); return false;">
							<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.5,6V17.5A4,4 0 0,1 12.5,21.5A4,4 0 0,1 8.5,17.5V5A2.5,2.5 0 0,1 11,2.5A2.5,2.5 0 0,1 13.5,5V15.5A1,1 0 0,1 12.5,16.5A1,1 0 0,1 11.5,15.5V6H10V15.5A2.5,2.5 0 0,0 12.5,18A2.5,2.5 0 0,0 15,15.5V5A4,4 0 0,0 11,1A4,4 0 0,0 7,5V17.5A5.5,5.5 0 0,0 12.5,23A5.5,5.5 0 0,0 18,17.5V6H16.5Z" /></svg><div id="productimage-holder"><img src="{{IMAGE}}" class="thumb-image" alt="{{TITLE}}"></div></span>
							<div>
								<b>{{LANG thumbnail}}</b>
								<p>jpg, png, gif</p>
							</div>
						</span>
						<input id="thumbnail" name="image" type="file" class="hidden" accept="image/*">
					</div>
				</div>
				<div class="col-md-6">
					<div class="pp_mat_input">
						<select name="category" id="category" class="pp_select_has_label">
							<?php foreach($pt->categories as $key => $category) { $selected = ($pt->article->category == $key) ? 'selected' : '';?>
								<option value="<?php echo $key?>" <?php echo $selected?>><?php echo $category?></option>
							<?php } ?>
						</select>
						<label for="category">{{LANG category}}</label>  
					</div>
					<div class="pp_mat_input">
						<input id="mySingleFieldTags" name="tags" type="text" value="{{TAGS}}" placeholder="{{LANG tags}}">
						<label for="tags">{{LANG tags}}</label>  
					</div>
				</div>
			</div>
			<div class="vp_forms_sbm_btn text-center">
				<button type="submit" class="btn btn_primary" id="submit-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2,21L23,12L2,3V10L17,12L2,14V21Z" /></svg> {{LANG publish}}</button>
			</div>
			<input type="hidden" name="id" class="id" value="{{ID}}">
		</div>
		<div class="col-md-2"></div>
	</form>
</div>

<link rel="stylesheet" href="{{CONFIG theme_url}}/css/trumbowyg.min.css">
<script src="{{CONFIG theme_url}}/js/trumbowyg.min.js"></script>

<script>
$.trumbowyg.svgPath = '{{CONFIG theme_url}}/css/trumbowyg.icons.svg';
$('#text').trumbowyg({
	btns: [
		['undo', 'redo'], // Only supported in Blink browsers
		['formatting'],
		['strong', 'em', 'del'],
		['superscript', 'subscript'],
		['link'],
		['insertImage'],
		['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
		['unorderedList', 'orderedList'],
		['horizontalRule'],
		['removeformat'],
		['fullscreen']
	]
});

function PT_DeleteArticle(id) {
	if (!id) {
	    return false;
	}
	if (!confirm("{{LANG delete_article_text}}")) {
	    return false;
	}
	$.post('{{LINK aj/articles/delete-article}}', {id: id}, function(data, textStatus, xhr) {
		if (data.status == 200) {
	        window.location.href = '{{LINK my_articles}}';
	    }
	});
}

$(document).ready(function() {
	$("#thumbnail").on('change', function() {
	//Get count of selected files
	var product_countFiles = $(this)[0].files.length;
	var product_imgPath = $(this)[0].value;
	var extn = product_imgPath.substring(product_imgPath.lastIndexOf('.') + 1).toLowerCase();
	var product_image_holder = $("#productimage-holder");
	product_image_holder.empty();
	if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
		if (typeof(FileReader) != "undefined") {
		//loop for each file selected for uploaded.
		for (var i = 0; i < product_countFiles; i++) 
		{
			var product_reader = new FileReader();
			product_reader.onload = function(e) {
				$("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image"
                  }).appendTo(product_image_holder);
                }
                product_image_holder.show();
                product_reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
              alert('This browser does not support FileReader.');
            }
         }
	});
});

$(function () {
	$("#mySingleFieldTags").tagit({
		allowSpaces: true
	});
	$('#edit-form').ajaxForm({
	    url: '{{LINK aj/articles/update-article}}?hash=' + $('.main_session').val(),
	    beforeSend: function() {
	    	$('#submit-btn').attr('disabled', true);
	    	$('#submit-btn').text("{{LANG please_wait}}");
	    },
	    success: function(data) {
	    	if (data.status == 200) {
	    		$('#video-success').html("{{LANG reviewed_article}}");
                window.location.href = data.url;
	    	} else {
	    		$('#submit-btn').attr('disabled', false);
	    	    $('#submit-btn').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2,21L23,12L2,3V10L17,12L2,14V21Z" /></svg> {{LANG publish}}');
	    		$('.errors').removeClass('hidden').html(data.message);
	    	}
	    }
	});
});
</script>