<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
	<div class="video-list video-wrapper vp_vid_list" data-id="{{ID}}">
		<div class="video-list-image">
			<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
				<img data-src="{{THUMBNAIL}}" alt="{{TITLE}}">
				<span class="duration">{{TIME}}</span>
			</a>
		</div>
		<div class="vp_vid_foot">
			<div class="video-list-title">
				<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}"><h4 title="{{TITLE}}">{{TITLE}}</h4></a>
			</div>
			<div class="video-list-by">
				<span><a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name_v}}</a></span>
			</div>
		</div>
	</div>
</div>