<div class="vid_pops_chnl_main">
	<div class="vp_pop_chnl_filt_hd">
		<h4 class="ptitle">
			<div><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M12,2.5L8.42,8.06L2,9.74L6.2,14.88L5.82,21.5L12,19.09L18.18,21.5L17.8,14.88L22,9.74L15.58,8.06L12,2.5M9.38,10.5C10,10.5 10.5,11 10.5,11.63A1.12,1.12 0 0,1 9.38,12.75C8.75,12.75 8.25,12.25 8.25,11.63C8.25,11 8.75,10.5 9.38,10.5M14.63,10.5C15.25,10.5 15.75,11 15.75,11.63A1.12,1.12 0 0,1 14.63,12.75C14,12.75 13.5,12.25 13.5,11.63C13.5,11 14,10.5 14.63,10.5M9,15H15C14.5,16.21 13.31,17 12,17C10.69,17 9.5,16.21 9,15Z"></path></svg></div> {{LANG popular_channels}}
		</h4>
		<div class="vid_pop_chnl_filtr">
			<span title="{{LANG filter_by}}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M6,13H18V11H6M3,6V8H21V6M10,18H14V16H10V18Z" /></svg></span>
			<select name="type" class="form-group form-control" id="sort_channels_by">
				<option value="views" <?php echo ($pt->type == 'views') ? 'selected': '';?>>{{LANG views}}</option>
				<option value="subscribers" <?php echo ($pt->type == 'subscribers') ? 'selected': '';?>>{{LANG subscribers}}</option>
				<option value="most_active" <?php echo ($pt->type == 'most_active') ? 'selected': '';?>>{{LANG most_active}}</option>
			</select>
			<select id="sort_channels_type" name="type" class="form-group form-control">
				<option value="today" <?php echo ($pt->cat_type == 'today') ? 'selected': '';?>>{{LANG today}}</option>
				<option value="this_week" <?php echo ($pt->cat_type == 'this_week') ? 'selected': '';?>>{{LANG this_week}}</option>
				<option value="this_month" <?php echo ($pt->cat_type == 'this_month') ? 'selected': '';?>>{{LANG this_month}}</option>
				<option value="this_year" <?php echo ($pt->cat_type == 'this_year') ? 'selected': '';?>>{{LANG this_year}}</option>
				<option value="all_time" <?php echo ($pt->cat_type == 'all_time') ? 'selected': '';?>>{{LANG all_time}}</option>
			</select>
			<button id="submit" name="submit" class="btn btn_primary" title="{{LANG submit}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M11,16.5L18,9.5L16.59,8.09L11,13.67L7.91,10.59L6.5,12L11,16.5Z" /></svg></button>
		</div>
	</div>
	<?php if ($pt->channels_count == 0) { ?>
		<div class="empty_state">
			<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,10.5L21,6.5V17.5L17,13.5V17A1,1 0 0,1 16,18H4A1,1 0 0,1 3,17V7A1,1 0 0,1 4,6H16A1,1 0 0,1 17,7V10.5M14,16V15C14,13.67 11.33,13 10,13C8.67,13 6,13.67 6,15V16H14M10,8A2,2 0 0,0 8,10A2,2 0 0,0 10,12A2,2 0 0,0 12,10A2,2 0 0,0 10,8Z" /></svg></span>
			<p>{{LANG no_channels_found_for_now}}</p>
		</div>
	<?php } else { ?>
		<div class="row pop_chnl_list">
			{{CHANNELS}}
		</div>
	<?php } ?>
	<div class="clear"></div>
	<?php if ($pt->channels_count > 1) { ?>
		<button class="watch-video-show-more desc load-more vp_load_more" data-type="popular_channels" data-sort-by="<?php echo ($pt->type);?>" <?php if (!empty($pt->cat_type)) { ?> data-sort-type="<?php echo ($pt->cat_type);?>"<?php } ?>>
			<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> {{LANG show_more}}
		</button>
	<?php } ?>
	<div class="clear"></div>
</div>

<script type="text/javascript">
	$('#submit').on('click', function(event) {
		var sort_by = $('#sort_channels_by').val();
		var sort_type = $('#sort_channels_type').val();
		$('#link_redirect_to_page').attr('data-load', '?link1=popular_channels&type='+sort_by+'&sort_type='+sort_type);
		$('#link_redirect_to_page').click();
	});
</script>