<div class="comment_info pt_shadow" id="comment_info_{{COMMENT_ID}}" data-comment-id="{{COMMENT_ID}}">
	<div class="videos-list related-videos">
		<div class="video-wrapper" data-litsitem-id="{{ID}}" data-video-id="{{VID_ID}}"> 
			<div class="video-title">
				<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}" title="{{TITLE}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z"></path></svg> {{TITLE}}</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
    <div class="clear"></div>
	<div class="user-comments" id="video-user-comments">
		{{COMMENT}}
	</div>
</div>