<div class="vp_auth_page">
	<div class="login_page">
		<div class="login-page">
			<div class="login-form">
				<h4>{{LANG login_}}</h4>
				<p>{{MESSAGE}}</p>
				<form action="{{LINK two_factor_submit}}" method="POST">
					<div class="errors form-group">{{ERROR}}</div>
					<div class="pp_mat_input">
						<input type="text" name="code" id="code" placeholder="{{LANG confirm_code}}" required value="">
						<label for="code">{{LANG confirm_code}}</label>
					</div>
					<button type="submit" class="btn btn_primary button">{{LANG submit}} <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff"> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)" stroke-width="2"> <circle stroke-opacity=".5" cx="18" cy="18" r="18"/> <path d="M36 18c0-9.94-8.06-18-18-18"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/> </path> </g> </g> </svg></button>
				</form>
			</div>    
		</div>
	</div>
	<div class="login_aside">
		<div class="vp_auth_circle-1"></div>
		<div class="vp_auth_circle-2"></div>
		<div class="vp_auth_circle-3"></div>
		<div class="login_aside_innr">
			<h2>{{LANG new_here}}</h2>
			<p>{{LANG start_features}}. {{LANG lets_get_started}}</p>
			<a class="btn" href="{{LINK register}}">{{LANG sign_up}}</a>
		</div>
	</div>
</div>

<script>
$(function() {
	$('[type = submit]').on('click', function () {
		if ($('#code').val()) {
			$(this).addClass("btn_loading");
		}
	});
});
</script>