<div class="videos-latest-list play_list">
	<h4 class="ptitle">
		<div><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><path fill="currentColor" d="M19,9H2V11H19V9M19,5H2V7H19V5M2,15H15V13H2V15M17,13V19L22,16L17,13Z"></path></svg></div> {{LANG play_lists}}
	</h4>
	{{VIDEOS}}
</div>
<?php if (@$pt->videos_count > 1) { ?>
<button class="desc load-more vp_load_more" data-type="profile_videos">
   <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></span> {{LANG show_more}}
</button>
<?php } ?>
<div class="clear"></div>