<div class="vp_auth_page vp_rgstr_pg">
	<div class="login_page">
		<div class="login-page">
			<div class="login-form">
				<form action="{{LINK forgot_password}}" method="POST">
					<h4>{{LANG reset_password}}</h4>
					<p></p>
					<div class="errors form-group">{{ERRORS}}</div>
					<div class="errors success form-group">{{SUCCESS}}</div>
					<div class="pp_mat_input">
						<input type="email" name="email" id="email" placeholder="{{LANG your_email_address}}" required value="" autofocus>
						<label for="email">{{LANG your_email_address}}</label>
					</div>
					<button type="submit" class="btn btn_primary button">{{LANG request_new_password}} <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff"> <g fill="none" fill-rule="evenodd"> <g transform="translate(1 1)" stroke-width="2"> <circle stroke-opacity=".5" cx="18" cy="18" r="18"/> <path d="M36 18c0-9.94-8.06-18-18-18"> <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/> </path> </g> </g> </svg></button>
				</form>
			</div>    
		</div>
	</div>
	<div class="login_aside">
		<div class="vp_auth_circle-1"></div>
		<div class="vp_auth_circle-2"></div>
		<div class="vp_auth_circle-3"></div>
		<div class="login_aside_innr">
			<h2>{{LANG welcome_back}}</h2>
			<p>{{LANG upload}}, {{LANG subscriptions}}, {{LANG manage_videos}}.</p>
			<a class="btn" href="{{LINK login}}">{{LANG login_}}</a>
		</div>
	</div>
</div>

<script>
$(function() {
	$('.button').on('click', function () {
		if ($('#email').val()) {
			$(this).addClass("btn_loading");
		}
	});
});
</script>